---
layout: page
title: Futuring Architectures
permalink: /
---

<!-- [Slider] Introduction -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">futuring architectures<br>sustaining transitions</h1>
          <p class="animated fadeInUp">a framework for ecosystem innovation and platform organisation</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [Wrapper] framework -->
<!--
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About FAST</h2>
            <p>There is no shortage in publications on platforms and their socio-economic impact. 
              These for sure help in understanding why and what: in FAST you’ll find how to frame, design and test platforms. 
              Step by step and day by day.</p>
          </div>
          <p>Ecosystem innovation has all the makings of a wicked problem. 
            FAST draws from Design Thinking as a collaborative way of coping with such a problem. 
            Thinking as a designer implies immersion in a situation, building shared understanding and prototyping solutions.</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper/FAST-Model-Tris.png" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>
-->

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>for your toolbox</h2>
        <p>
          FAST is a hands-on framework for ecosystem innovation and platform organisation. 
          It pairs discovery of ecosystem opportunities with development of complementary platform businesses.
        </p>
      </div>
    </div>
    <!--
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    -->
      <div class="col-xs-12 col-sm-4">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4><a href="https://reveal.futuring-architectures.com">Reveal</a></h4>
          <p>
            Discover the ecosystem to design for.<br> 
            Gather new and compelling perspectives on needs and expectations.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4><a href="https://position.futuring-architectures.com">Position</a></h4>
          <p>
            Find the platform's purpose and strategy.<br>
            Coordinate value exchanges and let the ecosystem leverage its true potential.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="service-item">
          <i class="ion-battery-full"></i>
          <h4><a href="https://organise.futuring-architectures.com">Organise</a></h4>
          <p>
            Build the minimum viable platform.<br>
            Validate your organisation’s purpose and position in the ecosystem.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>in your hands</h2>
          <p>
            FAST puts platform strategy in your hands. 
            It comes with all materials you need to start facilitating high-energy platform sessions
            and get platform <i>doing</i> embedded in your organisation.
            <br>No consultants or coaches, no boot camps or certifications. All batteries included.         
          </p>
          <a class="btn btn-default btn-call-to-action" href="mailto:hello@futuring-architectures.com" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->