<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="https://fastplatforming.com">Blog</a></li>
            <li><a href="https://trello.com/b/mRrJ1xr3/fast-development">Trello</a></li>
            <li><a href="https://github.com/futuring-architectures">GitHub</a></li>
          </ul>
        </div>
        <p>Published under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license.</p>
      </div>
    </div>
  </div>
</footer>
